body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/public/img/Leonardo_Phoenix_Create_an_image_depicting_a_transportation_co_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    width: 90%;
    max-width: 900px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 140px 20px 20px;
    overflow: hidden;
}

.menu {
    background-color: #9d98e6;
    padding: -60px;
    border-radius: 20px;
    position: fixed;
    top: 20px;
    left: 40px;
    right: 40px;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu ul li {
    display: inline;
    margin: 5px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    transition: 0.3s;
    display: block;
    text-align: center;
}

.menu ul li a:hover {
    background-color: #FFD700;
    color: black;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 0 auto;
}

.active {
    background-color: #5df15f;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    color: #585197;
}

.solicitudes-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.solicitud-card {
    background: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
}

.solicitud-card h3 {
    margin-top: 0;
}

.solicitud-card button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.aceptar {
    background-color: #5df15f;
}

.rechazar {
    background-color: #e41a1a;
    color: white;
}

.eliminar {
    background-color: #f44336;
    color: white;
}

@media (max-width: 768px) {
    .solicitudes-container {
        flex-direction: column;
    }

    .solicitud-card button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}
