<!DOCTYPE html>
 <html lang="es">
 
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Agenda</title>
   <link rel="stylesheet" href="src/styles/agenda.css">
 </head>
 
 <body>
  <header>
    <nav class="menu">
      <ul></ul>
    </nav>
  </header>

  <div class="container">
    <main>
      <h1>Agenda de Servicios</h1>

      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Cliente</th>
              <th>Contacto</th>
              <th>Servicio</th>
              <th>Descripción</th>
              <th>Ubicación Origen</th>
              <th>Ubicación Destino</th>
            </tr>
          </thead>
          <tbody id="agenda-body">
            <!-- Servicios agendados aquí -->
          </tbody>
        </table>
      </div>
    </main>
  </div>

  <script src="src/controllers/agenda.js"></script>
 </body>
 </html>