<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventario</title>
  <link rel="stylesheet" href="src/styles/inventario.css">
</head>
<body>

<header>
  <nav class="menu">
    <ul></ul>
  </nav>
</header>

<div class="container">
  <main>
    <h1>Inventario de Herramientas</h1>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Herramienta</th>
            <th>Cantidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="inventario-body">
          <!-- Inventario -->
        </tbody>
      </table>
    </div>
    <button class="add-button" onclick="abrirModalAgregar()">Añadir Nueva Herramienta</button>
  </main>
</div>

<!-- Modal de Edición/Agregar -->
<div id="modal" class="modal">
  <h2 id="modal-titulo">Editar Herramienta</h2>
  <input type="text" id="nombre-herramienta" placeholder="Nombre de la herramienta">
  <input type="number" id="cantidad-herramienta" placeholder="Cantidad">
  <div style="margin-top:10px;">
    <button class="confirm-button" onclick="guardarHerramienta()">Guardar</button>
    <button class="cancel-button" onclick="cerrarModal()">Cancelar</button>
  </div>
</div>

<!-- Fondo oscuro modal -->
<div id="modal-overlay" class="modal-overlay" onclick="cerrarModal()"></div>

<script src="/src/controllers/inventario.js"></script>

</body>
</html>
