<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="src/styles/login.css">
</head>

<body>
    <div class="container">
        <header>
            <img src="/public/img/logo.png" alt="Logo" class="logo">
            <h1>Transporte Hector Murillo</h1>
        </header>
        <main>
            <form id="login-form">
                <h2>Iniciar Sesión</h2>
                <input type="email" id="email" placeholder="Correo Electrónico" maxlength="35" required>
                <input type="password" id="password" placeholder="Contraseña" maxlength="35" required>
                <button type="submit">Ingresar</button>
            </form>
            <div class="register">
                <p>¿No tienes cuenta? <a href="src/views/registrar.html">Registrarse</a></p>
            </div>
        </main>
    </div>

    <script src="src/controllers/login.js"></script>

</body>

</html>