<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solicitudes</title>
  <link rel="stylesheet" href="src/styles/solicitudes.css">
</head>

<body>

  <header>
    <nav class="menu">
      <ul></ul>
    </nav>
  </header>

  <div class="container">
    <main>
      <h1>Solicitudes de Servicios</h1>

      <section class="pendientes">
        <h2>Solicitudes Pendientes</h2>
        <div id="pendientes-container" class="solicitudes-container"></div>
      </section>

      <section class="rechazadas">
        <h2>Solicitudes Rechazadas</h2>
        <div id="rechazadas-container" class="solicitudes-container"></div>
      </section>
    </main>
  </div>

  <script src="src/controllers/solicitudes.js"></script>

</body>

</html>